p{
    font-family: Roboto, Arial;
    margin-bottom: 0%;
    margin-top: 0%;
    width: auto;
}
body{
    margin: 0%;
    padding-top: 80px;
    padding-left: 86px;
    background-color: rgb(238, 238, 238);
}
